@model Entities.Area

@{
    ViewData["Title"] = "Editar";
}

<h2 class="display-1">Editar Area</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="IdArea" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="NombreArea" class="control-label"></label>
                <input asp-for="NombreArea" class="form-control" />
                <span asp-validation-for="NombreArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

