@model Entities.SubArea

@{
    ViewData["Title"] = "Crear SubArea";
}

<h2 class="display-1">Crear SubArea</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="IdArea" class="control-label"></label>
                <select asp-for="IdArea" class="form-control"
                        asp-items="@(new SelectList(ViewBag.AreaList,"IdArea","NombreArea"))">
                </select>
                <span asp-validation-for="IdArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreSubArea" class="control-label"></label>
                <input asp-for="NombreSubArea" class="form-control" />
                <span asp-validation-for="NombreSubArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

